<div
  class="authentication-card-container"
  fxLayoutAlign="center"
>
  <mat-card class="authentication-card">
    <mat-card-header> <mat-card-title>Register</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="registerForm"
        fxLayoutAlign="center stretch"
      >
        <mat-form-field>
          <mat-label>username</mat-label>
          <input matInput formControlName="userName" />
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>userId</mat-label>
            <input matInput formControlName="userId" />
          </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input matInput type="email" formControlName="email" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" color="primary" (click)="onSubmit()">
        Register
      </button>
      &nbsp;&nbsp;
      <button class="button" color="primary" [routerLink]="['/login']">
        back to login
        </button>
    </mat-card-actions>
  </mat-card>
</div>