.center {
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
    transform: translate(0, 100%);
  }

  .authentication-card {
    width: 18%;
    font-weight: bold;
    margin: 0 auto;
    border: 3px solid green;
    color: blue;
    transform: translate(0, 100%);
    background-color:greenyellow;
  }

.authentication-card-container {
    min-height: 200vh;
}